---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "配布物";
---

<Layout title={pageTitle}>
	<div class="downloads-list">
		<h2>配布物</h2>
		
		<p>配布物一覧</p>
		
		<section class="download-category">
			<h3>伺かゴースト</h3>
			<ul>
				<li><a href="https://github.com/Shimofumi/HamirLore/releases">工事中</a></li>
				<li><a href="https://shimosent.sakura.ne.jp/top/ukagaka/shennong_kanadome/">工事中</a></li>
				<li>工事中……</li>
			</ul>
		</section>
		
		<section class="download-category">
			<h3>フリーシェル</h3>
			<ul>
				<li><a href="https://shimosent.sakura.ne.jp/top/ukagaka/draney_ukagaka/">ドラネーちゃん</a></li>
				<li><a href="/downloads/shells/kemomaid">ケモメイド</a></li>
				<li>工事中……</li>
			</ul>
		</section>
		
		<section class="download-category">
			<h3>追加シェル</h3>
			<ul>
				<li><a href="https://shimosent.sakura.ne.jp/top/ukagaka/gomakaree5yoteichi/">hogehoge</a></li>
			</ul>
		</section>
		
		<section class="download-category">
			<h3>ゲーム</h3>
			<ul>
				<li>工事中</li>
			</ul>
		</section>
	</div>
</Layout>