---

import "../styles/style.css"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />	
		<title>Dragontail</title>

		<!-- OGP Meta Tags -->
		<meta property="og:site_name" content="Dragontail" />
		<meta property="og:title" content="Dragontail" />
		<meta property="og:description" content="ドラゴンガールとケモミミが好きな絵描き、しもふみさんによるイラストサイト。オリジナルも二次創作も。全年齢から成人向けまで。" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://dragontail.monster" />
		<meta property="og:image" content="https://dragontail.monster/yakinasu_ogp.png" />
	</head>

	<body>
		<main>
			<div class="age-verification">
				
				<h1>Dragontail</h1>
				<img src="yakinasu_thumb.png">
				

				
					<p>この先には性的描写および猟奇的描写が含まれる可能性がある為</p>
					<p>未成年の方の入場は禁止します</p>
					<p>18歳以上で自己に責任を持てる方のみお進みください</p>
					
					
					<p><a href="https://kids.nifty.com/">進まない</a></p>
					<p><a href="/gallery/1">進む</a></p>
					
				
				
			</div>
		</main>
	</body>




</html>
