---
import type { MarkdownInstance } from "astro";
import Layout from '../layouts/Layout.astro'
const pageTitle: string = "tags"
const allPosts : MarkdownInstance<Record<string, any>>[] = Object.values(import.meta.glob("./picture/*.md", { eager: true }));
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
] as string[];
---

<Layout title={pageTitle}>
	<div>
		<h2>タグ一覧</h2>
		{uniqueTags.map(
			function(tag){
				return <p><a href={`/tags/${tag}/1`}>#{tag}</a></p>
			}
		)}
	</div>
</Layout>
