---
export interface ArtworkFrontmatter {
    title: string;
    date: string;
    image: string;
    tags: string[];
}

export interface Props {
    frontmatter: ArtworkFrontmatter;
}

import Layout from "./Layout.astro";

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
    <!-- いつかやる <div class="artwork-navigation"><a>← 533</a><a>531 →</a></div> -->
    <div>
        <h2>{frontmatter.title}</h2>
        <div><slot /></div>
        <div class="artwork-wrapper">
            <img src={frontmatter.image}>
        </div>
    </div>
</Layout>